In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/ratings.csv
/kaggle/input/movies.csv
/kaggle/input/toy_dataset.csv

In [2]:
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
ratings = pd.read_csv("/kaggle/input/toy_dataset.csv", index_col = 0)
ratings.fillna(0, inplace = True)

Address the missing ratings

In [4]:
def standardize(row):
    new_row = (row - row.mean())/ (row.max() - row.min())
    return new_row
ratings_std = ratings.apply(standardize)
ratings_std

        action1  action2   action3  romantic1  romantic2  romantic3
user 1     0.36      0.6  0.400000      -0.65      -0.08      -0.35
user 2     0.56      0.2  0.400000      -0.15      -0.08      -0.60
user 3    -0.24     -0.4 -0.600000       0.35       0.52       0.40
user 4    -0.44      0.0 -0.266667       0.35      -0.48       0.15
user 5    -0.24     -0.4  0.066667       0.10       0.12       0.40

In [5]:
item_similarity = cosine_similarity(ratings_std.T)
print(item_similarity)

[[ 1.          0.70668875  0.81368151 -0.79941088 -0.02539184 -0.91410609]
 [ 0.70668875  1.          0.72310153 -0.84515425 -0.5189993  -0.84337386]
 [ 0.81368151  0.72310153  1.         -0.84794611 -0.3799803  -0.80218063]
 [-0.79941088 -0.84515425 -0.84794611  1.          0.14803913  0.72374686]
 [-0.02539184 -0.5189993  -0.3799803   0.14803913  1.          0.39393939]
 [-0.91410609 -0.84337386 -0.80218063  0.72374686  0.39393939  1.        ]]

In [6]:
item_similarity_df = pd.DataFrame(item_similarity, index = ratings.columns, columns = ratings.columns)
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

Let's make recommendations!

In [7]:
def get_similar_movies(movie_name, user_rating):
    similar_score = item_similarity_df[movie_name] * (user_rating - 2.5 )
    similar_score = similar_score.sort_values(ascending = False)
    return similar_score

In [8]:
print(get_similar_movies("action3", 5))

action3      2.500000
action1      2.034204
action2      1.807754
romantic2   -0.949951
romantic3   -2.005452
romantic1   -2.119865
Name: action3, dtype: float64

In [9]:
action_lover = [("action1", 5), ("romantic2", 1), ("romantic3", 1)]
similar_movies = pd.DataFrame()

In [10]:
for movie, rating in action_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie, rating), ignore_index = True)

In [11]:
similar_movies.head()
similar_movies.sum().sort_values(ascending = False)

action1      3.909247
action2      3.810282
action3      3.807445
romantic2   -2.154389
romantic1   -3.306206
romantic3   -4.376174
dtype: float64

In [12]:
ratings = pd.read_csv("/kaggle/input/ratings.csv")
movies = pd.read_csv("/kaggle/input/movies.csv")
ratings = pd.merge(movies, ratings)
ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [13]:
ratings.drop(['genres', 'timestamp'], axis = 1)

        movieId                                      title  userId  rating
0             1                           Toy Story (1995)       1     4.0
1             1                           Toy Story (1995)       5     4.0
2             1                           Toy Story (1995)       7     4.5
3             1                           Toy Story (1995)      15     2.5
4             1                           Toy Story (1995)      17     4.5
...         ...                                        ...     ...     ...
100831   193581  Black Butler: Book of the Atlantic (2017)     184     4.0
100832   193583               No Game No Life: Zero (2017)     184     3.5
100833   193585                               Flint (2017)     184     3.5
100834   193587        Bungo Stray Dogs: Dead Apple (2018)     184     3.5
100835   193609        Andrew Dice Clay: Dice Rules (1991)     331     4.0

[100836 rows x 4 columns]

In [14]:
user_ratings = ratings.pivot_table(index = ['userId'], columns = ['title'], values = 'rating')
user_ratings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop movies with less than 10 ratings

In [15]:
user_ratings = user_ratings.dropna(thresh = 10, axis = 1).fillna(0, axis = 1)

In [16]:
print(user_ratings)

title   'burbs, The (1989)  (500) Days of Summer (2009)  \
userId
1                      0.0                          0.0
2                      0.0                          0.0
3                      0.0                          0.0
4                      0.0                          0.0
5                      0.0                          0.0
...                    ...                          ...
606                    0.0                          0.0
607                    0.0                          0.0
608                    0.0                          0.0
609                    0.0                          0.0
610                    0.0                          3.5

title   10 Cloverfield Lane (2016)  10 Things I Hate About You (1999)  \
userId
1                              0.0                                0.0
2                              0.0                                0.0
3                              0.0                                0.0
4                              0.0                                0.0
5                              0.0                                0.0
...                            ...                                ...
606                            0.0                                0.0
607                            0.0                                0.0
608                            0.0                                0.0
609                            0.0                                0.0
610                            4.0                                0.0

title   10,000 BC (2008)  101 Dalmatians (1996)  \
userId
1                    0.0                    0.0
2                    0.0                    0.0
3                    0.0                    0.0
4                    0.0                    0.0
5                    0.0                    0.0
...                  ...                    ...
606                  0.0                    0.0
607                  0.0                    0.0
608                  0.0                    0.0
609                  0.0                    0.0
610                  0.0                    0.0

title   101 Dalmatians (One Hundred and One Dalmatians) (1961)  \
userId
1                                                     0.0
2                                                     0.0
3                                                     0.0
4                                                     0.0
5                                                     0.0
...                                                   ...
606                                                   0.0
607                                                   0.0
608                                                   0.0
609                                                   0.0
610                                                   0.0

title   12 Angry Men (1957)  12 Years a Slave (2013)  127 Hours (2010)  ...  \
userId                                                                  ...
1                       0.0                      0.0               0.0  ...
2                       0.0                      0.0               0.0  ...
3                       0.0                      0.0               0.0  ...
4                       5.0                      0.0               0.0  ...
5                       0.0                      0.0               0.0  ...
...                     ...                      ...               ...  ...
606                     0.0                      0.0               0.0  ...
607                     0.0                      0.0               0.0  ...
608                     0.0                      0.0               0.0  ...
609                     0.0                      0.0               0.0  ...
610                     0.0                      0.0               4.0  ...

title   Zack and Miri Make a Porno (2008)  Zero Dark Thirty (2012)  \
userId
1                                     0.0                      0.0
2                                     0.0                      0.0
3                                     0.0                      0.0
4                                     0.0                      0.0
5                                     0.0                      0.0
...                                   ...                      ...
606                                   0.0                      0.0
607                                   0.0                      0.0
608                                   0.0                      0.0
609                                   0.0                      0.0
610                                   3.5                      0.0

title   Zero Effect (1998)  Zodiac (2007)  Zombieland (2009)  \
userId
1                      0.0            0.0                0.0
2                      0.0            0.0                3.0
3                      0.0            0.0                0.0
4                      0.0            0.0                0.0
5                      0.0            0.0                0.0
...                    ...            ...                ...
606                    0.0            0.0                0.0
607                    0.0            0.0                0.0
608                    0.0            0.0                0.0
609                    0.0            0.0                0.0
610                    0.0            5.0                3.5

title   Zoolander (2001)  Zootopia (2016)  eXistenZ (1999)  xXx (2002)  \
userId
1                    0.0              0.0              0.0         0.0
2                    0.0              0.0              0.0         0.0
3                    0.0              0.0              0.0         0.0
4                    0.0              0.0              0.0         0.0
5                    0.0              0.0              0.0         0.0
...                  ...              ...              ...         ...
606                  0.0              0.0              0.0         0.0
607                  0.0              0.0              0.0         0.0
608                  3.0              0.0              4.5         3.5
609                  0.0              0.0              0.0         0.0
610                  4.0              4.0              0.0         2.0

title   ¡Three Amigos! (1986)
userId
1                         4.0
2                         0.0
3                         0.0
4                         0.0
5                         0.0
...                       ...
606                       0.0
607                       0.0
608                       0.0
609                       0.0
610                       0.0

[610 rows x 2269 columns]

In [17]:
corrMatrix = user_ratings.corr(method='pearson')
corrMatrix.head(100)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Almost Famous (2000),0.099554,0.209549,0.032088,0.296727,0.134434,0.118628,0.242958,0.079158,0.005092,0.051279,...,0.244619,0.085395,0.072505,0.221259,0.126008,0.362571,0.011577,0.208008,0.186599,0.147413
Along Came Polly (2004),0.027287,0.282426,0.113213,0.193085,0.162678,0.180259,0.112928,0.121704,0.125792,0.124032,...,0.173133,0.160430,0.029076,0.189165,0.166278,0.309183,0.078468,-0.036498,0.231566,0.025928
Along Came a Spider (2001),0.064762,-0.003205,0.016372,0.085365,-0.018241,0.080388,0.094016,-0.016678,0.079375,-0.028052,...,0.115347,0.093774,0.085286,0.150757,0.052144,0.174489,0.014189,0.025327,0.233244,0.043581
Amadeus (1984),0.136013,0.084829,-0.055707,0.105783,-0.008620,0.055704,0.121697,0.244291,0.084634,0.047370,...,-0.010703,0.015008,0.173486,0.103232,0.062977,0.097432,-0.007432,0.132956,0.075753,0.136565
"Amazing Spider-Man, The (2012)",0.083419,0.224961,0.149903,0.103802,0.278253,0.096137,0.152795,0.070514,0.121492,0.168369,...,0.350739,0.234351,0.089202,0.262828,0.409487,0.151747,0.373173,0.023512,0.192038,0.143658

Build similarity matrix

In [18]:
def get_similar(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating - 2.5)
    similar_ratings = similar_ratings.sort_values(ascending = False)
    #print(type(similar_ratings))
    return similar_ratings

In [19]:
romantic_lover = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
similar_movies = pd.DataFrame()
for movie,rating in romantic_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating),ignore_index = True)

similar_movies.head(10)

,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
0,0.157792,2.500000,0.356179,0.684973,0.484900,0.372257,0.355353,0.399389,0.338715,0.500338,...,0.936288,0.446637,0.171018,1.036463,0.889309,0.630565,0.540017,0.134034,0.602730,0.314763
1,-0.016276,0.203998,0.126834,0.113241,0.092218,0.085790,0.072825,0.097794,0.083822,0.084897,...,0.159907,0.085502,0.011564,0.176888,0.168302,0.121710,0.072590,0.025695,0.081764,0.027540
2,-0.304722,-0.062634,-0.214700,-0.118754,-0.037059,-0.063992,-0.170195,-0.280090,-0.016283,-0.102493,...,-0.147339,-0.162387,-0.368712,-0.281119,-0.263686,-0.228562,-0.144292,-0.410899,-0.242935,-0.238410
3,-0.102988,-0.056808,-0.049655,-0.042987,-0.021729,-0.055422,-0.051115,-0.097954,-0.061595,-0.070398,...,-0.075325,-0.048607,-0.128795,-0.175166,-0.098088,-0.074205,-0.049626,-0.153017,-0.082048,-0.091432

In [20]:
action_lover = [("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",2),("2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",4)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating), ignore_index = True)

similar_movies.head(10)
similar_movies.sum().sort_values(ascending = False).head(20)

Amazing Spider-Man, The (2012)                           3.233134
Mission: Impossible III (2006)                           2.874798
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)    2.701477
Over the Hedge (2006)                                    2.229721
Crank (2006)                                             2.176259
Mission: Impossible - Ghost Protocol (2011)              2.159666
Hancock (2008)                                           2.156098
The Amazing Spider-Man 2 (2014)                          2.153677
Hellboy (2004)                                           2.137518
Snakes on a Plane (2006)                                 2.137396
Jumper (2008)                                            2.129716
Chronicles of Riddick, The (2004)                        2.121689
Tron: Legacy (2010)                                      2.111843
Fantastic Four (2005)                                    2.083022
X-Men: The Last Stand (2006)                             2.077530
Wreck-It Ralph (2012)                                    2.067907
Kung Fu Hustle (Gong fu) (2004)                          2.067457
Godzilla (2014)                                          2.061653
Incredible Hulk, The (2008)                              2.050104
Quantum of Solace (2008)                                 2.016189
dtype: float64